@import './main.less';

@ttheight:90;
@ttfs:30;
@ttpd:32;

/*清除浮动*/
  .clearfix{
    zoom:1;
    &:after{
      clear:both;   
      overflow:hidden; 
      content:"";   
      display:table; 
    }
  }
  .collapse{
  	.pl(@ttpd);
  	.clearfix;
    margin-top: -1px;
  	background-color: #fff;
  	border:1/75*1rem solid;
    border-color: #dbdbde transparent;
    background-color: #fff;
  }

  .header{
  	.width(750-64);
  	.height(@ttheight);
  	line-height: @ttheight/75*1rem;
    .pr(@ttpd);
    width: auto;
    .fs30;
    font-family: "STHeitiSC";
    .icon{
      .pt(30);
  	  position: relative;
  	  float: right;
  	}
    .icontop{
      .width(46);
      .height(26);
      background: url(../../assets/img/accordion/2.png) center bottom no-repeat;
    }
    .icondown{
      .width(46);
      .height(26);
      background: url(../../assets/img/accordion/1.png) center bottom no-repeat;
    }
  }
  
  .content{
	.pr(70);
	.fs(30);
  	font-family: "STHeitiSC";
 	color: rgb( 97, 97, 97 );
  	line-height: 1.6;
  	p{
  		display: inline-block;
  		.pb(25);
  	}
  }

 .slide-enter-active {
  transition: all .3s ease;

}
.slide-leave-active {
  transition: all .3s ease;
}
.slide-enter, .slide-leave-active {
  transform: translateY(-10px);
  opacity: 0;
}